<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <!-- This is descriptive information about the webapp as a whole -->
  <display-name>PeptideMatch</display-name>
  <description>
    PeptideMatch: a web application for protein identification using
    peptide sequence matching against UniProt/Swiss-Prot proteins.
  </description>

  <!-- Next come servlet tags that map class files to servlet names and -->
  <!-- also define servlet initialization parameters -->
  <servlet>
    <servlet-name>SaveData</servlet-name>
    <servlet-class>query.SaveData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BatchPeptideMatch</servlet-name>
   	<servlet-class>query.BatchPeptideMatchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadBatchPeptideMatchResults</servlet-name>
   	<servlet-class>query.DownloadBatchPeptideMatchResultsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PeptideMatchWS</servlet-name>
   	<servlet-class>query.PeptideMatchWS</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>RunLongProcess</servlet-name>
          <servlet-class>query.RunLongProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaxonCount</servlet-name>
    <servlet-class>query.TaxonCount</servlet-class>
  </servlet>

  <!-- Next we map URLs and URL patterns to servlet names -->
    <servlet-mapping>
    <servlet-name>SaveData</servlet-name>
    <url-pattern>/SaveData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchPeptideMatch</servlet-name>
    <url-pattern>/batchpeptidematch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadBatchPeptideMatchResults</servlet-name>
    <url-pattern>/downloadbatchpeptidematchresults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunLongProcess</servlet-name>
    <url-pattern>/runLongProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeptideMatchWS</servlet-name>
    <url-pattern>/webservices/peptidematch_rest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaxonCount</servlet-name>
    <url-pattern>/taxoncount</url-pattern>
  </servlet-mapping>

  <!-- PeptideMatch sessions timeout after 15 minutes of inactivity -->
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>
